.magic-bg {
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/072/665/089/large/campbell-white-silver-dragon-copy-3.jpg'); 
  background-size: cover;

  position: relative;
}